{% extends 'base.html.twig' %}

{% block title %}Edit Ship{% endblock %}

{% block body %}
    <h1>Edit Ship</h1>

    {{ include('admin/ship/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_ship_index') }}">back to list</a>

    {{ include('admin/ship/_delete_form.html.twig') }}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
{% endblock %}


