{% extends 'base.html.twig' %}

{% block body %}
    <section class="contact-first-wrapper">
        <h1><span>H</span>ow to contact us?</h1>
        <p>
        Phone number : 00 00 00 00 00</br>
        Email : zblurgoclock@zblurg.com</br>
        </p>
        <h3>Our address</h3>
        <p>ZBLURG Company</p>
        <p>0 Zblurg Boulevard</p>
        <p>50000 Lorville</p>
        <p>Stanton System</p>
        <h3>Our centers</h3>
        <p>Crusader : Port Olisar (Space station)</p>
        <p>Yela : Grim Hex (Space station)</p>
        <p>Hurston : Lorville (City)</p>
        <p>ArcCorp : Area 18 (City)</p>
        <p>MicroTech : New Babbage (City)</p>
        <p>Crusader : Orison (City)</p>
        <div class="contact-socialmedia-wrapper">
            <h2><span>S</span>ocial media</h2>
            <div class="contact-socialmedia-btn">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-light"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter icon-light"></i></a>
            </div>
        </div>
    </section>
    <section class="contact-second-wrapper">
        <h2>Premium Assistance</H2>
        <p>Notre service personnalisé disponible 7j/7 24h/24 réservé a nos utilisateurs premium</p>
        <a href="#" class="premium-assistance-btn">Contact us now</a>
    </section>
{% block javascripts %}

    <script src="/js/theme.js"></script>

{% endblock %}
{% endblock %}