{% extends 'base.html.twig' %}
{% block body %}

<div class="legals">

    <section class="headml">
        <h1>Legal notice</h1>
        <p>Please read carefully the different terms of use of this site
            before browsing its pages. By logging on to this site, you fully accept these
            terms and conditions. Also, in accordance with article no. 6 of Law no. 2004-575 of 21 June 2004 for
            the digital economy, those responsible for this website <a class="mention-link"
                href="#">www.zblurg.com</a> are :
        </p>
    </section>
    
    <section class="denomination">
        <h2 class="mention-title">Site editor </h2>
        <p class="mention-texte">
            ZBLURG Company<br/>
            SIRET number: 123456789 00000 <br/>
            Editorial manager : ZBLURG team <br/>
            0 Zblurg Boulevard<br/>
            50000 Lorville<br/>
            Stanton System
            Phone number : 00 00 00 00 00 - Fax : +00000000000 <br/>
            Email : zblurgoclock@zblurg.com <br/>
            website : <a class="mention-link" href="#">www.zblurg.com</a>
        </p>

        <h2 class="mention-title">Development</h2>
        <p class="mention-texte">
            ZBLURG Company<br/>
            Address :<br/>
            0 Zblurg Boulevard<br/>
            50000 Lorville<br/>
            Stanton System
            Website : <a class="mention-link" href="#">www.zblurg.com</a>
        </p>
    </section>

    <section class="legals-content">
        <h2 class="mention-title">Terms and conditions</h2>
        <p class="mention-texte">
            This site is offered in different web languages (HTML5, CSS, PHP, Javascript, etc.) for a better comfort
            more user friendly graphics, we recommend using modern browsers
            such as Internet explorer, Safari, Firefox, Google Chrome, etc…<br/>
            ZBLURG implements all available means to ensure reliable information and up-to-date
            of its websites. However, errors or omissions may occur. The Internet user must therefore
            ensure the accuracy of the information transmitted, and report any changes to the site that it
            would find it useful. is in no way responsible for the use made of this information, and for any
            direct or indirect harm that may result.<br/>
            The site may require you to accept cookies for statistical purposes and
            display. A cookie is information deposited on your hard drive by the server of the site that you
            visit. It contains several data that are stored on your computer in a simple text file
            which a server accesses to read and record information. Some parts of this site cannot
            be functional without accepting cookies.<br/>
            Hyperlinks:<br/>
            The websites of may offer links to other websites or
            other resources available on the Internet. ZBLURG has no means to control the sites in
            connection with its websites. Does not answer for the availability of such sites and external sources, nor
            shall not guarantee it.It may not be held responsible for any damage of any kind,
            resulting from the content of such external sites or sources, including information, products or services
            that they propose, or any use that may be made of these elements. The risks associated with this use
            are fully the responsibility of the Internet user, who must comply with their terms of use. <br/>
            Users, subscribers and visitors to the websites cannot set up a hyperlink
            to this site without the express prior permission of ZBLURG.<br/>
            In the event that a user or visitor wishes to set up a hyperlink to a
            of the ZBLURG websites, it will be up to him to send an email accessible on the site in order to formulate
            its request to set up a hyperlink. ZBLURG reserves the right to accept or refuse a hyperlink
            without having to justify his decision.
        </p>

        <h2 class="mention-title">Services provided</h2>
        <p class="mention-texte">
            All the company’s activities and information are presented on our website.<br/>
            ZBLURG endeavours to provide as accurate information as possible on the website www.zblurg.com. the
            information on the site is not exhaustive and the photos are not contractual. They are given
            subject to changes that have been made since they were made available online. Furthermore, all
            information on the website www.zblurg.com are given for information purposes, and are likely to
            change or evolve without notice.
        </p>

        <h2 class="mention-title">Contractual limitation on data</h2>
        <p class="mention-texte">
            The information contained on this site is as accurate as possible and the site updated to
            different times of the year, but may contain inaccuracies or omissions. If you
            notice a deficiency, error or what appears to be a malfunction, please report it
            by email at zblurgoclock@zblurg.com, describing the issue as accurately as possible
            (problem page, type of computer and browser used, etc.).<br/>
            Any downloaded content is done at the risk of the user and under his sole responsibility. In
            consequence, cannot be held responsible for any damage suffered by the user’s computer
            or any loss of data resulting from the download. In addition, the user of the site agrees
            access the site using recent, virus-free, web-based
            latest updated generation.<br/>
            The hypertext links set up within the framework of this website in the direction of other resources
            present on the Internet shall not be liable to ZBLURG.
        </p>

        <h2 class="mention-title">Intellectual property</h2>
        <p class="mention-texte">
            All content of the present on the site, including graphics, images, texts,
            videos, animations, sounds, logos, gifs and icons as well as their formatting are the exclusive property of
            the company with the exception of trademarks, logos or content belonging to other partner companies or
            authors.<br/>
            Any reproduction, distribution, modification, adaptation, retransmission or publication, even partial,
            of these elements is strictly prohibited without the express written consent of ZBLURG. This
            representation or reproduction, by any means whatsoever, constitutes an infringement punishable by
            articles L.335-2 et seq. of the French Intellectual Property Code.
            prohibition constitutes an infringement liable to the civil and criminal liability of the infringer.
            In addition, the owners of the copied Content may take legal action against you.
        </p>
        <p class="mention-texte">
            Declaration to the CNIL:
            In accordance with Law 78-17 of 6 January 1978 (as amended by Law 2004-801 of 6 August 2004 on
            protection of natural persons with regard to the processing of personal data) relating to
            data processing, files and freedoms, this site has not been the subject of a declaration with the
            Commission nationale de l'informatique et des libertés.
            <a class="mention-link" href="http://www.cnil.fr/">(www.cnil.fr)</a>
        </p>

        <h2 class="mention-title">Litigation</h2>
        <p class="mention-texte">
            These site conditions are governed by French law and any dispute or dispute that
            may arise from the interpretation or execution of these will be the exclusive competence of the
            the head office of the corporation. The language of reference for the settlement of
            possible disputes, is French.
        </p>

        <h2 class="mention-title">Personal data</h2>
        <p class="mention-texte">
            Generally, you are not required to provide us with your personal data when you visit
            our website.<br/>
            However, this principle has certain exceptions. Indeed, for certain services offered by our
            site, you may have to give us certain data such as: your name, your address,
            email address, and telephone number. This is the case when
            you fill out the form available to you online, under the heading “contact”. In all
            case, you can refuse to provide your personal data. In this case, you will not be able to use the
            services of the site, including that of soliciting information about our company, or receiving
            newsletters.<br/>
            Finally, we may automatically collect certain information about you during a
            simple navigation on our website, including: information about the use of our
            site, such as the areas you visit and the services you access, your IP address, the type of
            your browser, your access times. Such information is used exclusively for
            internal statistics, in order to improve the quality of the services offered to you. The
            data are protected by the provisions of the Law of 1 July 1998 transposing Directive 96/9 of
            11 March 1996 on the legal protection of databases.
        </p>
    </section>
</div>
{% block javascripts %}

    <script src="/js/theme.js"></script>

{% endblock %}
{% endblock %}