{% extends 'base.html.twig' %}

{% block title %}Add a new Type{% endblock %}

{% block body %}
    <h1>Add a new Type</h1>

    {{ include('admin/type/_form.html.twig') }}

    <a href="{{ path('admin_type_index') }}">back to list</a>
{% endblock %}
