{% extends 'base.html.twig' %}

{% block title %}New Size{% endblock %}

{% block body %}
    <h1>Create new Size</h1>

    {{ include('admin/size/_form.html.twig') }}

    <a href="{{ path('admin_size_index') }}">back to list</a>
{% endblock %}
