{% extends 'base.html.twig' %}

{% block title %}List of brands{% endblock %}

{% block body %}
{% for brand in brands %}
    <div class="main-content">
        <a href="{{ path('admin_brand_show', {'id': brand.id}) }}">
        <div class="first-wrapper">
            <div class="model-block-content">
                <h4>Id</h4>
                <p>{{ brand.id }}<p>
            </div>
            <div class="model-block-content">
                <h4>Type</h4>
                <p>{{ brand.name }}<p>
            </div>
            <div class="model-block-content">
                <h4>Logo</h4>
                <!-- logo? -->
            </div>
        </div>
        {% else %}
            <div>
                <div colspan="13">no records found</div>
            </div>
        {% endfor %}
        </a>
    </div>

    <a href="{{ path('admin_brand_new') }}">Create new</a>
{% endblock %}
